<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>9VVOX</title>
<style type="text/css">
<!--
body { background-color:#FFFFFF; color:#000000; }
-->
<link href="9vox.css" rel="stylesheet" type="text/css" >
</head>
<!-- 0:page  -->
<div id="page">

<!-- 1:header  -->
<div id="header">
<Div Align="right"><h1>9VOX</h1></font></Div>
</div>

<!-- 2:menu+menubar  -->
<div id="menu">
<ul id="menubar">
   <li><a href="/app.rb" style="color: #C0000b;"><h3>TOP</h3></a></li>
   <li><a href="/views/profile.erb" style="color: #C0000b "><h3>PROFILE</h3></a></li>
   <li><a href="/views/site.erb" style="color: #C0000b "><h3>SITE</h3></a></li>
   <li><a href="/views/code.erb" style="color: #C0000b "><h3>CODE</h3></a></li>
</ul>
</div>

<br>
<br>
<br>
<!-- 3:main  -->
<div id="main">
<br>

</html>